<a href="https://colab.research.google.com/github/Divya-NSEC/ChatBuddy/blob/main/fraud_model_pkl.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

importing the dependencies

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [ ]:
# loading the dataset to a pandas dataframe
credit_card_data = pd.read_csv('/content/creditcard.csv')

In [ ]:
# first five row of the dataset
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0

In [ ]:
credit_card_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
63467,50729,-0.885149,0.685702,2.633474,-0.627847,-0.382435,-0.341406,0.412056,0.144234,-0.591181,...,0.139998,0.262089,-0.177035,0.567301,0.143500,0.273751,0.000619,0.063722,33.86,0.0
63468,50730,1.524481,-0.443952,-0.917431,-1.170535,0.196548,-0.104157,-0.219461,-0.107692,-1.174652,...,0.120102,0.212776,-0.381743,-1.365279,0.966568,0.006848,-0.040391,-0.027141,15.00,0.0
63469,50731,0.384574,-1.420667,0.895325,1.034192,-1.259366,0.563206,-0.266365,0.235659,0.679938,...,0.103934,-0.241229,-0.224265,0.293396,0.006356,0.334843,-0.043213,0.075555,368.90,0.0
63470,50731,-2.905183,2.331722,-1.051898,-0.078557,3.616107,-0.652025,4.420506,-5.210530,6.723739,...,-1.285569,-0.230240,-0.541085,-0.742582,0.018568,-0.863808,-1.438975,-2.156480,1.00,0.0
63471,50731,-0.289526,-1.037570,2.355009,-1.311061,-1.830279,0.209060,-1.256847,0.304098,-1.761717,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# dataset information
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63472 entries, 0 to 63471
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    63472 non-null  int64
 1   V1      63472 non-null  float64
 2   V2      63472 non-null  float64
 3   V3      63472 non-null  float64
 4   V4      63472 non-null  float64
 5   V5      63472 non-null  float64
 6   V6      63472 non-null  float64
 7   V7      63472 non-null  float64
 8   V8      63472 non-null  float64
 9   V9      63472 non-null  float64
 10  V10     63471 non-null  float64
 11  V11     63471 non-null  float64
 12  V12     63471 non-null  float64
 13  V13     63471 non-null  float64
 14  V14     63471 non-null  float64
 15  V15     63471 non-null  float64
 16  V16     63471 non-null  float64
 17  V17     63471 non-null  float64
 18  V18     63471 non-null  float64
 19  V19     63471 non-null  float64
 20  V20     63471 non-null  float64
 21  V21     63471 non-null  float64
 22  V22     63471 non-null  float64
 23  V23     63471 non-null  float64
 24  V24     63471 non-null  float64
 25  V25     63471 non-null  float64
 26  V26     63471 non-null  float64
 27  V27     63471 non-null  float64
 28  V28     63471 non-null  float64
 29  Amount  63471 non-null  float64
 30  Class   63471 non-null  float64
dtypes: float64(30), int64(1)
memory usage: 15.0 MB

In [ ]:
#checking the number missing value in each colum
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       1
V11       1
V12       1
V13       1
V14       1
V15       1
V16       1
V17       1
V18       1
V19       1
V20       1
V21       1
V22       1
V23       1
V24       1
V25       1
V26       1
V27       1
V28       1
Amount    1
Class     1
dtype: int64

In [ ]:
#distribution of legit transaction and fradulent transaction
credit_card_data['Class'].value_counts()

Class
0.0    63306
1.0      165
Name: count, dtype: int64

this data is highly unbalanced

0->normal transaction
1-> fraudulent transaction

In [ ]:
#seperating the data for analysis
legit=credit_card_data[credit_card_data.Class==0]
fraud=credit_card_data[credit_card_data.Class==1]

In [ ]:
print(legit.shape)
print(fraud.shape)

(63306, 31)
(165, 31)

In [ ]:
# statistical measure of the data

In [ ]:
legit.Amount.describe()

count    63306.000000
mean        96.084069
std        270.901083
min          0.000000
25%          7.680000
50%         26.270000
75%         87.985000
max      19656.530000
Name: Amount, dtype: float64

In [ ]:
fraud.Amount.describe()

count     165.000000
mean       94.772182
std       223.636274
min         0.000000
25%         1.000000
50%         5.300000
75%        99.990000
max      1809.680000
Name: Amount, dtype: float64

In [ ]:
# compare the value for both transaction
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,32886.268884,-0.222052,-0.025881,0.711575,0.157617,-0.252231,0.108458,-0.094471,0.051489,0.054956,...,0.047178,-0.030473,-0.107362,-0.038206,0.006238,0.136169,0.019903,0.000447,0.004078,96.084069
1.0,28970.593939,-7.031319,5.057975,-9.478683,5.499619,-5.201642,-2.141312,-7.386265,3.414395,-3.320945,...,0.421608,0.848637,-0.196178,-0.256211,-0.076312,0.237857,0.116940,0.563026,0.036893,94.772182

under-sampling
build a sample data containing similar distribution of normal transaction and fraudulent transaction

In [ ]:
legit_sample=legit.sample(n=492)

contacting two data frame

In [ ]:
new_dataset=pd.concat([legit_sample,fraud],axis=0)

In [ ]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
24461,33249,-1.118619,1.555847,-0.026650,-0.570996,0.686356,0.732879,0.160374,0.758618,-0.342304,...,-0.318310,-0.827871,-0.126864,-1.767172,0.100504,0.203028,0.347371,0.128047,14.29,0.0
42878,41283,-0.803865,1.209635,1.296207,-0.054179,-0.490750,-0.762835,0.194250,0.537165,-0.725249,...,-0.130196,-0.515321,0.051602,0.495470,-0.252645,0.046110,0.132093,0.048899,1.98,0.0
19283,30147,-0.970480,0.160098,0.568130,-0.241436,2.967081,3.664496,-0.246727,1.065283,-0.324890,...,-0.016804,-0.168978,-0.343807,1.018445,0.830541,-0.223141,0.059232,0.073351,9.99,0.0
32252,36709,-0.451288,0.135436,0.741216,-0.630815,-0.416981,-0.812942,0.807946,-0.190613,-1.881081,...,0.347390,0.705845,-0.043639,0.357406,0.644349,0.104956,-0.055485,-0.002397,134.99,0.0
2041,1580,-2.838275,1.721593,0.835022,1.559710,-1.704184,0.790477,-0.670900,1.468945,1.233735,...,-0.483782,-0.668143,0.044030,0.060449,0.151310,-0.378290,0.314660,-0.120304,62.34,0.0

In [ ]:
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
58422,48380,-2.790771,-1.464269,1.031165,1.921356,-0.090014,-0.483871,0.780731,-0.348776,0.609133,...,-0.392667,0.440020,0.777659,0.418552,0.244563,-0.159361,0.060540,0.356958,208.58,1.0
58761,48533,1.243848,0.524526,-0.538884,1.209196,0.479538,-0.197429,0.049166,0.037792,0.128119,...,-0.051660,-0.084089,-0.192846,-0.917392,0.681953,-0.194419,0.045917,0.040136,1.00,1.0
59539,48884,-2.139051,1.394368,-0.612035,1.049327,-1.162102,-0.768219,-1.997237,0.574997,-0.980832,...,0.696955,0.740003,-0.155115,-0.050607,0.268368,-0.469433,-0.405814,-0.152171,19.73,1.0
61787,49985,-1.554216,1.694229,-0.903334,2.425436,-2.899787,0.133028,-0.286226,0.555945,-1.394918,...,0.493436,0.733393,0.202350,0.492054,-0.183791,-0.199917,0.395201,0.027693,360.00,1.0
63421,50706,-8.461845,6.866198,-11.838269,4.194211,-6.923097,-3.221147,-7.553497,6.015618,-2.466143,...,0.918244,-0.715366,0.210747,-0.060211,0.509535,-0.257284,1.170027,0.229301,99.99,1.0

In [ ]:
new_dataset['Class'].value_counts()

Class
0.0    492
1.0    165
Name: count, dtype: int64

In [ ]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,33637.477642,-0.102546,-0.063145,0.724186,0.052442,-0.253074,0.166629,-0.052695,0.071538,0.008444,...,0.027139,-0.058197,-0.107248,-0.033932,0.005966,0.140168,0.044131,-0.046278,0.009156,94.685833
1.0,28970.593939,-7.031319,5.057975,-9.478683,5.499619,-5.201642,-2.141312,-7.386265,3.414395,-3.320945,...,0.421608,0.848637,-0.196178,-0.256211,-0.076312,0.237857,0.116940,0.563026,0.036893,94.772182

In [ ]:
X = new_dataset.drop(columns='Class',axis=1)
Y= new_dataset['Class']

In [ ]:
print(X)

        Time        V1        V2         V3        V4        V5        V6  \
24461  33249 -1.118619  1.555847  -0.026650 -0.570996  0.686356  0.732879
42878  41283 -0.803865  1.209635   1.296207 -0.054179 -0.490750 -0.762835
19283  30147 -0.970480  0.160098   0.568130 -0.241436  2.967081  3.664496
32252  36709 -0.451288  0.135436   0.741216 -0.630815 -0.416981 -0.812942
2041    1580 -2.838275  1.721593   0.835022  1.559710 -1.704184  0.790477
...      ...       ...       ...        ...       ...       ...       ...
58422  48380 -2.790771 -1.464269   1.031165  1.921356 -0.090014 -0.483871
58761  48533  1.243848  0.524526  -0.538884  1.209196  0.479538 -0.197429
59539  48884 -2.139051  1.394368  -0.612035  1.049327 -1.162102 -0.768219
61787  49985 -1.554216  1.694229  -0.903334  2.425436 -2.899787  0.133028
63421  50706 -8.461845  6.866198 -11.838269  4.194211 -6.923097 -3.221147

             V7        V8        V9  ...       V20       V21       V22  \
24461  0.160374  0.758618 -0.342304  ...  0.296399 -0.318310 -0.827871
42878  0.194250  0.537165 -0.725249  ... -0.059495 -0.130196 -0.515321
19283 -0.246727  1.065283 -0.324890  ...  0.203486 -0.016804 -0.168978
32252  0.807946 -0.190613 -1.881081  ...  0.485861  0.347390  0.705845
2041  -0.670900  1.468945  1.233735  ...  0.139238 -0.483782 -0.668143
...         ...       ...       ...  ...       ...       ...       ...
58422  0.780731 -0.348776  0.609133  ... -1.376721 -0.392667  0.440020
58761  0.049166  0.037792  0.128119  ... -0.171541 -0.051660 -0.084089
59539 -1.997237  0.574997 -0.980832  ...  0.025427  0.696955  0.740003
61787 -0.286226  0.555945 -1.394918  ... -0.032334  0.493436  0.733393
63421 -7.553497  6.015618 -2.466143  ...  0.814710  0.918244 -0.715366

            V23       V24       V25       V26       V27       V28  Amount
24461 -0.126864 -1.767172  0.100504  0.203028  0.347371  0.128047   14.29
42878  0.051602  0.495470 -0.252645  0.046110  0.132093  0.048899    1.98
19283 -0.343807  1.018445  0.830541 -0.223141  0.059232  0.073351    9.99
32252 -0.043639  0.357406  0.644349  0.104956 -0.055485 -0.002397  134.99
2041   0.044030  0.060449  0.151310 -0.378290  0.314660 -0.120304   62.34
...         ...       ...       ...       ...       ...       ...     ...
58422  0.777659  0.418552  0.244563 -0.159361  0.060540  0.356958  208.58
58761 -0.192846 -0.917392  0.681953 -0.194419  0.045917  0.040136    1.00
59539 -0.155115 -0.050607  0.268368 -0.469433 -0.405814 -0.152171   19.73
61787  0.202350  0.492054 -0.183791 -0.199917  0.395201  0.027693  360.00
63421  0.210747 -0.060211  0.509535 -0.257284  1.170027  0.229301   99.99

[657 rows x 30 columns]

In [ ]:
print(Y)

24461    0.0
42878    0.0
19283    0.0
32252    0.0
2041     0.0
        ...
58422    1.0
58761    1.0
59539    1.0
61787    1.0
63421    1.0
Name: Class, Length: 657, dtype: float64

split the data into training data and testing data

In [ ]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,stratify=Y,random_state=2)

In [ ]:
print(X.shape,X_train.shape,X_test.shape)

(657, 30) (525, 30) (132, 30)

In [47]:
model=LogisticRegression()

In [48]:
# training the logistics regression model with training data
model.fit(X_train,Y_train)

/usr/local/lib/python3.12/dist-packages/sklearn/linear_model/_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [ ]:
#model evaluation

In [ ]:
# accuracy on traing data
X_train_prediction=model.predict(X_train)
training_data_accuracy=accuracy_score(X_train_prediction,Y_train)

In [ ]:
print('accurancy on traing data:',training_data_accuracy)

accurancy on traing data: 0.9714285714285714

In [ ]:
# accuracy on test data
X_test_prediction=model.predict(X_test)
test_data_accuracy=accuracy_score(X_test_prediction,Y_test)

In [ ]:
print('Accuracy scrore on test data : ', test_data_accuracy)

Accuracy scrore on test data :  0.9545454545454546